/* 颜色 */
$brandColor: #ff44aa;
$mainFont: #303133;
$regularFont: #606266;
$minorFont: #909399;
$placeholderFont: #c0c4cc;
$borderColor1: #dcdfe6;
$borderColor2: #e4e7ed;
$borderColor3: #ebeef5;
$borderColor4: #f2f6fc;
/* 宽度 */
$viewPageWidth: 698px;

/*高亮*/
$onHover: mix($brandColor, white, 10%);
$onHover90: mix($brandColor, white, 90%);
$onHoverDark: mix($brandColor, black, 90%);
